<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-center">Update Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, consequatur! 
                Natus, cumque asperiores! Rem accusamus sit, perferendis molestiae ipsam repudiandae officia voluptas tempore
                 illo laborum ex modi incidunt optio nulla.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form  (submit)="submitUpdate()">
                <div class="mb-2">
                    <input name="name" type="text" class="form-control"
                        placeholder="Name"
                        [(ngModel)]="contact.name"
                        [value]="contact.name"
                        required="">
                </div>

                <div class="mb-2">
                    <input name="photo" type="text" class="form-control"
                         placeholder="Photo Url" 
                         [(ngModel)]="contact.photo"
                         [value]="contact.photo">
                </div>

                <div class="mb-2">
                    <input name="email" type="email" class="form-control" 
                        placeholder="Email" 
                        [(ngModel)]="contact.email"
                        [value]="contact.email">
                </div>

                <div class="mb-2">
                    <input name="mobile" type="text" class="form-control" 
                        placeholder="Mobile" 
                        [(ngModel)]="contact.mobile"
                        [value]="contact.mobile">
                </div>

                <div class="mb-2">
                    <input name="company" type="text" class="form-control" 
                        placeholder="Company" 
                        [(ngModel)]="contact.company"
                        [value]="contact.company">
                </div>

                <div class="mb-2">
                    <input name="title" type="text" class="form-control" 
                        placeholder="Title" 
                        [(ngModel)]="contact.title"
                        [value]="contact.title">
                </div>

                <div class="mb-2">
                    <select name="group_id" class="form-control" 
                        [(ngModel)]="contact.group_id"
                        [value]="contact.group_id"
                        >
                        <!-- <option value="" selected>Select a Group</option> -->
                        <option *ngFor="let group of groups" [value]="group.id" >{{group.name}}</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>

        <div class="col-sm-4" *ngIf="contact.photo">
            <img [src]="contact.photo" alt="user" class="contact-img">
        </div>
    </div>
</div>